.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 12%;
}
.logo{
  
    width: 15%;
margin-left: 50px;
}
a {
    text-decoration: none;
}

@media screen and (max-width=375px) {
    .banner{
        width: 100%;
    }
    .navigation-container{
        width: 60%;
    }
}
    

    
    
    