.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 12%;
}
.logo{
  
    width: 15%;
margin-left: 50px;
}
a {
    text-decoration: none;
}

@media only screen and (max-width: 1300px)  {
    .banner{
        width: 95%;
        justify-content: space-between;
    }
    
    .logo{
  
        width: 25%;
    margin-left: 50px;
    
    }
}

@media only screen and (max-width: 500px) {
    .banner{
        width: 95%;
        justify-content: flex-start;
    }
    
    .logo{
  
        width: 40%;
    margin-left: 10px;
    
    }
}
    

    
    
    