.navigation-container{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.navigation{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
.elem-nav {
    color: #ff6060;
    text-decoration: none;
    list-style-type: none; 
}
.nav-active {
        border-bottom: 1px solid #ff6060;
    }
           

   
   
