.navigation-container{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

.navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
.elem-nav {
    color: #ff6060;
    text-decoration: none;
    list-style-type: none; 
    font-size: 24px;
}
.nav-active {
        border-bottom: 1px solid #ff6060;
    }
    
    @media only screen and (max-width: 1300px)  {
        .navigation-container{
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            
        }
        
        .navigation{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 10%;
            align-items: center;
            justify-content: space-between;
        }
        
        .elem-nav {
            
            font-size: 22px;
        }
    }
    
    @media only screen and (max-width: 800px)  {
        .navigation-container{
            height: 100%;
            width: 48%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            
        }
    }

    @media only screen and (max-width: 500px) {
        .navigation-container{
            width: 60%;
            justify-content: flex-start;
        }
        .elem-nav {
            font-size: 12px;
            
        }
       
    }