.slider-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    height: 50%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
}

.arrow-container{
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;

}
.arrow{
    cursor: pointer;
    margin-left: 15px;

}

.slideCount{
    display: flex;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 500px){
    .slider-container{
       
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 95%;
        height: 30%;
        
    }
    .arrow-container{
        height: 10%;
        margin-top: 150px;
    
    }
    .arrow{
       
        cursor: pointer;
        margin-left: 15px;
    
    }
}